In [2]:
# Step 1 : import library
import pandas as pd

In [3]:
# Step 2 : import data
fish = pd.read_csv('Fish.csv')

In [4]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [5]:
fish.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 159 entries, 0 to 158
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Category  159 non-null    int64
 1   Species   159 non-null    object
 2   Weight    159 non-null    float64
 3   Height    159 non-null    float64
 4   Width     159 non-null    float64
 5   Length1   159 non-null    float64
 6   Length2   159 non-null    float64
 7   Length3   159 non-null    float64
dtypes: float64(6), int64(1), object(1)
memory usage: 10.1+ KB

In [6]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [7]:
# Step 3 : define target (y) and features (X)
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [8]:
y = fish['Weight']

In [9]:
X = fish[['Category','Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [10]:
# Step 4 : train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.7, random_state=2529)

In [11]:
# check shape of train and test sample
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((111, 6), (48, 6), (111,), (48,))

In [ ]:
# Step 5 : select model
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [ ]:
# Step 6 : train or fit model
model.fit(X_train,y_train)

In [ ]:
model.intercept_

In [ ]:
model.coef_

In [ ]:
# Step 7 : predict model
y_pred = model.predict(X_test)

In [ ]:
y_pred

In [ ]:
# Step 8 : model accuracy
from sklearn.metrics import mean_absolute_error, r2_score

In [ ]:
mean_absolute_error(y_test,y_pred)

In [ ]:
r2_score(y_test,y_pred)